In [1]:
import pandas as pd

# Рекомендательная система на основе датасета от Амазон
Этот набор данных представляет собой обновленную версию набора данных обзоров Amazon, выпущенного в 2014 году. Как и в предыдущей версии, этот набор данных включает в себя обзоры (рейтинги, текст, голоса за помощь), метаданные продукта (описания, информацию о категории, цену, бренд и особенности изображения). и ссылки (тоже просматривал/тоже покупал графики)
https://cseweb.ucsd.edu/~jmcauley/datasets/amazon_v2/

In [2]:
# Загружаем отзывы о покупках
data_reviews = pd.read_json("C:/Users/n3sm3/Desktop/РЕКОМЕНДАТЕЛЬНЫЕ СИСТЕМЫ/data.json", lines= True)

In [3]:
# Загружаем информацию о товарах
data_meta = pd.read_json("C:/Users/n3sm3/Desktop/РЕКОМЕНДАТЕЛЬНЫЕ СИСТЕМЫ/meta_data.json", lines= True)

In [4]:
# Данные содержат разную информацию об отзывах, в том числе время и сам текст отзыва
# Возьмем только информацию о пользователях, товарах и оценках
data_reviews.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3.0,NaN,NaN
2,4,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [5]:
# reviewerID - пользователь
# asin - товар
# overall - оценка
data_reviews = data_reviews[['reviewerID','asin','overall']]
data_reviews

            reviewerID        asin  overall
0       A1D4G1SNUZWQOT  7106116521        5
1       A3DDWDH9PX2YX2  7106116521        2
2       A2MWC41EW7XL15  7106116521        4
3       A2UH2QQ275NV45  7106116521        2
4        A89F3LQADZBS5  7106116521        3
...                ...         ...      ...
883631  A1ZSB2Q144UTEY  B01HJHTH5U        5
883632  A2CCDV0J5VB6F2  B01HJHTH5U        5
883633  A3O90PACS7B61K  B01HJHTH5U        3
883634  A2HO94I89U3LNH  B01HJHF97K        3
883635  A2RSX9E79DUHRX  B01HJG5NMW        5

[883636 rows x 3 columns]

In [6]:
# Из метаданных выбираем то, что понадобится для характеристики товаров
data_meta.head()

,title,brand,feature,rank,date,asin,imageURL,imageURLHighRes,description,price,also_view,also_buy,fit,details,similar_item,tech1
0,Slime Time Fall Fest [With CDROM and Collector...,Group Publishing (CO),[Product Dimensions:\n \n8....,"13,052,976inClothing,Shoesamp;Jewelry(",8.70 inches,0764443682,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XCC Qi promise new spider snake preparing men'...,NaN,NaN,"11,654,581inClothing,Shoesamp;Jewelry(",5 star,1291691480,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Magical Things I Really Do Do Too!,Christopher Manos,[Package Dimensions:\n \n8....,"19,308,073inClothing,ShoesJewelry(",5 star,1940280001,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,[For the professional or amateur magician. Ro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ashes to Ashes, Oranges to Oranges",Flickerlamp Publishing,[Package Dimensions:\n \n8....,"19,734,184inClothing,ShoesJewelry(",5 star,1940735033,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aether & Empire #1 - 2016 First Printing Comic...,NaN,[Package Dimensions:\n \n10...,"10,558,646inClothing,Shoesamp;Jewelry(",5 star,1940967805,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,$4.50,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# asin - товар
# brand - бренд
# feature - характеристики
# rank - популярность (топ в разделе)
data_meta = data_meta[['asin','brand','feature','rank']]
data_meta

,asin,brand,feature,rank
0,0764443682,Group Publishing (CO),[Product Dimensions:\n \n8....,"13,052,976inClothing,Shoesamp;Jewelry("
1,1291691480,NaN,NaN,"11,654,581inClothing,Shoesamp;Jewelry("
2,1940280001,Christopher Manos,[Package Dimensions:\n \n8....,"19,308,073inClothing,ShoesJewelry("
3,1940735033,Flickerlamp Publishing,[Package Dimensions:\n \n8....,"19,734,184inClothing,ShoesJewelry("
4,1940967805,NaN,[Package Dimensions:\n \n10...,"10,558,646inClothing,Shoesamp;Jewelry("
...,...,...,...,...
186632,B01HJGXL4O,JT,NaN,"9,835,890inClothing,ShoesJewelry("
186633,B01HJHF97K,Microcosm,[Package Dimensions:\n \n7....,"11,390,771inClothing,ShoesJewelry("
186634,B01HJGJ9LS,Lookatool,"[Cotton+Polyester, Imported, Item type:Basebal...","972,275inClothing,ShoesJewelry("
186635,B01HJHTH5U,Edith Windsor,[Product Dimensions:\n \n9....,"1,964,585inClothing,ShoesJewelry("
186636,B01HJFNU7S,NaN,[Product Dimensions:\n \n5 ...,"9,379,125inClothing,ShoesJewelry("

In [8]:
# В feature находится много информации, возьмем несколько параметров, которые можно попробовать использовать
# Создадим функцию для определения материала 
def material_category(row):
    str_ = str(row['feature']).lower()
    if 'cotton' in str_:
        return 'cotton'
    elif 'polyester' in str_:
        return 'polyester'
    elif 'spandex' in str_:
        return 'spandex'
    elif 'steel' in str_:
        return 'steel'
    elif 'lycra' in str_:
        return 'lycra'
    elif 'elastane' in str_:
        return 'elastane'
    elif 'nylon' in str_:
        return 'nylon'
    elif 'wool' in str_:
        return 'wool'
    elif 'synthetic' in str_:
        return 'synthetic'
    else:
        return 'no information'

In [9]:
# Создадим функцию для определения категории товара по полу
def gender_category(row):
    str_ = str(row['feature']).lower()
    if 'girl' in str_:
        return 'female'
    elif 'woman' in str_:
        return 'female'
    elif 'women' in str_:
        return 'female'
    elif 'boy' in str_:
        return 'male'
    elif 'man' in str_:
        return 'male'
    elif 'men' in str_:
        return 'male'
    else:
        return 'no information'

In [10]:
# Определяем категорию популярности
def rank_category(row):
    str_ = str(row['rank']).split('i')
    s = str_[0]
    return s

In [11]:
# Получаем новую информацию
data_meta['material_category'] = data_meta.apply(material_category, axis = 1)
data_meta['gender_category'] = data_meta.apply(gender_category, axis = 1)
data_meta['rank_category'] = data_meta.apply(rank_category, axis = 1)
data_meta

,asin,brand,feature,rank,material_category,gender_category,rank_category
0,0764443682,Group Publishing (CO),[Product Dimensions:\n \n8....,"13,052,976inClothing,Shoesamp;Jewelry(",no information,male,"13,052,976"
1,1291691480,NaN,NaN,"11,654,581inClothing,Shoesamp;Jewelry(",no information,no information,"11,654,581"
2,1940280001,Christopher Manos,[Package Dimensions:\n \n8....,"19,308,073inClothing,ShoesJewelry(",no information,male,"19,308,073"
3,1940735033,Flickerlamp Publishing,[Package Dimensions:\n \n8....,"19,734,184inClothing,ShoesJewelry(",no information,male,"19,734,184"
4,1940967805,NaN,[Package Dimensions:\n \n10...,"10,558,646inClothing,Shoesamp;Jewelry(",no information,male,"10,558,646"
...,...,...,...,...,...,...,...
186632,B01HJGXL4O,JT,NaN,"9,835,890inClothing,ShoesJewelry(",no information,no information,"9,835,890"
186633,B01HJHF97K,Microcosm,[Package Dimensions:\n \n7....,"11,390,771inClothing,ShoesJewelry(",no information,male,"11,390,771"
186634,B01HJGJ9LS,Lookatool,"[Cotton+Polyester, Imported, Item type:Basebal...","972,275inClothing,ShoesJewelry(",cotton,no information,"972,275"
186635,B01HJHTH5U,Edith Windsor,[Product Dimensions:\n \n9....,"1,964,585inClothing,ShoesJewelry(",no information,male,"1,964,585"
186636,B01HJFNU7S,NaN,[Product Dimensions:\n \n5 ...,"9,379,125inClothing,ShoesJewelry(",no information,male,"9,379,125"

In [13]:
data_reviews.to_excel('raiting.xlsx')

In [12]:
data_meta.to_excel('data_set.xlsx')